/* Transforme le modèle de boite par défaut pour inclure dans la largeur et la hauteur, les marges intérieures et les bordures. */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Les règles typographiques générales qui s'appliquent à tout le site */
body {
  font-family: var(--font-text);
  font-size: var(--text);
  line-height: 1.5;
  background-color: var(--grey);
}

p {
  margin: 15px;
}

#text-art1 {
  color: var(--grey);
  background-color: var(--purple);
}

#text-art2 {
  color: var(--black);
  background-color: var(--white);
}

#text-art3 {
  color: var(--grey);
  background-color: var(--burgundy);
}

.right {
  margin: 2%;
}

/* Les règles typographiques générales des titres */
h1,
h2,
h3 {
  font-family: var(--font-title);
  font-weight: normal;
  line-height: 1.5;
}

h1 {
  font-size: var(--title);
  margin: 15px;
}

h2 {
  font-size: var(--title-article);
  line-height: 1.3;
  margin: 15px;
}

h3 {
  font-size: var(--intertitre);
  line-height: 1.3;
  margin: 15px;
}

#link-art1{
  background-color: var(--purple-link);
  color: var(--grey);
}

#link-art2{
  background-color: var(--white-link);
}

#link-art3{
  background-color: var(--burgundy-link);
  color: var(--grey);
}

.galerie__text--right{
  position: relative;
  float: right;
  top: 0px;
}

.galerie__text--left{
  float: left();
}

.frise__title{
  width: 280px;
  position: relative;
  top: -20px;
  z-index: -2;
}

/* Les règles générales qui s'appliquent aux images du site */
#img_galerie{
  margin: 9px;
  height: 250px;
  width: 179,4px;
}

#logo{
  height: 32,05px;
  width: 280,31px;
}
/* permet d'annuler la mise en forme des bouton qu'applique le navigateur. */
button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

/* Pour enlever l'apparence par défaut des listes */
.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Classe générique permettant de définir les marges sur les cotés */
.container {
  padding-left: var(--space3x);
  padding-right: var(--space3x);
}

/* Bug IOS
=> L'overflow doit être appliqué sur l'élément body ET html
pour faire disparaître le scroll sur safari IOS */
.noscroll,
.noscroll body {
  overflow: hidden;
}