img {
    max-width: 100%;
    height: auto;
  }
  
  figure {
    margin: 0;
  }
  
  figcaption {
    font-size: var(--legende);
    color: var(--figcaption);
    position: sticky;
  }

.art__iem--SW1{
  width: 160px;
  text-align: center;
  position: relative;
  right: -8em;
}

.art__iem--point2{
  float: right;
  text-align: center;
  position: relative;
  top: -100px;
}

.art__iem--point1{
  float: left;
  text-align: center;
  position: relative;
  top: 55px;
}

.index__item--vid{
  width: 322px;
  height: 164px;
  text-align: center;
  position: relative;
}

.homepage__card{
  width: 375px;
}

.frise{
  text-align: center;
  position: relative;
  top: 1px;
}
.art
  /* Bug IOS
=> L'overflow doit être appliqué sur l'élément body ET html
pour faire disparaître le scroll sur safari IOS */
.noscroll,
.noscroll body {
  overflow: hidden;
}

