:root{
/* Styles de couleur */
--burgundy :        rgba(124, 8, 8, 1);
--purple:           rgba(91, 30, 119, 1);
--grey:             rgba(245, 245, 245, 1);
--black-link:       rgba(0, 0, 0, 0.800000011920929);
--gray-black:       rgba(0, 0, 0, 1);
--purple-link:      rgba(91, 30, 119, 0.800000011920929);
--white:            rgba(255, 255, 255, 1);
--white-link:       rgba(255, 255, 255, 0.800000011920929);
--burgundy-link:    rgba(124, 8, 8, 0.800000011920929);
--figcaption:       rgba(128, 128, 128, 1);

/* Tailles de police de caractère */
--text: 14px;
--legende: 10px;
--title: 35px;
--intertitre: 24px;
--chapo: 16px;
--title-article: 31px;
--footer: 11px;
--title-menu: 23px;

/* Polices de caractère */
--font-text: 'Spinnaker', sans-serif;
--font-title: 'Zen Kurenaido', sans-serif;

/* Font variantes */
--letter-spacing: 0.05em;

/* Espaces */
--space1x: 8px;
--space2x: 16px;
--space3x: 24px;
--space4x: 48px;
--space5x: 80px;
}