.footer {
    background-color: var(--gray-black);
    color: var(--white);
    padding: var(--space4x) var(--space3x);
    font-size: var(--footer);
  }
  
  footer a {
    color: var(--gray-400);
    text-decoration: none;
  }

  .mention_footer {
    font-size: var(--legende);
    margin-bottom: var(--space3x);
  }

  .footer__list {
    display: flex;
    gap: var(--space2x);
  }

  .footer_fleche {
    float: right;
  }
  
  /*.footer > *:not(:first-child) {
    margin-top: var(--space1x);
  }*/